.banner__container {
  height: 823px;
  position: relative;
  padding: 0;
}

.banner__container:after {
  content: "";
  width: 675px;
  height: 762px;
  position: absolute;
  background: url(../image/banner/men-desktop.png);
  bottom: 0;
  right: 0;
  z-index: 0;
}

.banner__items {
  font-weight: 900;
  font-size: 150px;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  line-height: 100%;
  margin: 0;
}

.banner__paragraph {
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
  margin-bottom: 30px;
  padding-left: 100px;
}

.banner__row {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  margin-bottom: 175px;
}

.banner__row-promo {
  display: flex;
  flex-direction: column;
  max-width: 193px;
}

.banner__row-four {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  color: #cd06ff;
}

.banner__row-new {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  color: #cd06ff;
}

.banner__row-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.banner__button-book {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: white;
  background-color: #6c0287;
  box-shadow: 0 0 7px 2px #6c0287;
  border-radius: 10px;
  border: none;
  padding: 25px 69px;
}

.banner__button-book:hover {
  background-color: #840aa3;
}

.banner__button-book:active {
  background-color: #640aa3;
}

.banner__button-book:focus {
  background-color: #840aa3;
}

.banner__link {
  position: absolute;
  top: 669px;
  right: 544px;
  z-index: 1;
}

.banner__link-interactive:hover {
  background-image: url(../image/banner/down_hover.svg);
  background-repeat: no-repeat;
}

.banner__link-interactive:active {
  background-image: url(../image/banner/down_active.svg);
}

.banner__link-interactive:focus {
  outline: 3px solid #cd06ff;
}
