.faq__title {
  font-weight: 700;
  font-size: 40px;
  margin: 0 0 40px 0;
  text-align: center;
  text-transform: uppercase;
}

.faq__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color, white);
  color: var(--primary-color, #1b1a1b);
  font-weight: 700;
  font-size: 24px;
  height: 87px;
  margin-bottom: 20px;
  padding-right: 70px;
  padding-left: 70px;
  cursor: pointer;
}

.faq__item:nth-child(even) {
  background-color: var(--violet-bg-e, #440f51);
  color: var(--main-color, white);
}

.faq__item:last-child {
  margin-bottom: 0;
}

.faq__button {
  width: 46px;
  height: 46px;
  border: none;
  background-color: inherit;
  background-repeat: no-repeat;
}

.faq__button-white {
  background-image: url(../image/faq/open-purple.svg);
}

.faq__item:hover > .faq__button-white {
  background: url(../image/faq/open-purple-hover.svg);
  transform: scale(1.1);
  transition: 0.3s ease-in;
}

.faq__item:active > .faq__button-white {
  background: url(../image/faq/close-purple.svg);
  transform: scale(1.1);
  transition: 0.3s ease-in;
}

.faq__button-violet {
  background: url(../image/faq/open.svg);
}

.faq__item:hover > .faq__button-violet {
  background: url(../image/faq/open-hover.svg);
  transform: scale(1.1);
  transition: 0.3s ease-in;
}

.faq__item:active > .faq__button-violet {
  background: url(../image/faq/close.svg);
  transform: scale(1.1);
  transition: 0.3s ease-in;
}
