.socials {
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
}

.socials__title {
  font-weight: 700;
  font-size: 40px;
  margin: 0px 0px 54px 0px;
  text-align: center;
}

.socials__container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 166px;
}

.address {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  text-transform: none;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.address__item {
  padding-left: 60px;
  margin-bottom: 14px;
  background-repeat: no-repeat;
  background-position: left center;
}

.address__item:first-child {
  margin-bottom: 39px;
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__item_type_geo {
  background-image: url(../image/contacts/location.svg);
}

.address__item_type_tel {
  background-image: url(../image/contacts/phone-call.svg);
}

.address__item_type_mail {
  background-image: url(../image/contacts/envelope.svg);
}

.social {
  list-style-type: none;
  display: inline-flex;
  padding-left: 0;
}

.social__item {
  margin-right: 20px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  fill: white;
}

.social__link:hover {
  fill: #eadeed;
  transition: 0.3s ease-in;
  transform: scale(1.05);
}

.social__link:active {
  fill: #cd06ff;
  transition: 0.3s ease-in;
  transform: scale(1.05);
}

.social__link:focus {
  fill: #cd06ff;
  outline: 1px solid #cd06ff;
  transition: 0.3s ease-in;
  transform: scale(1.05);
}

.socials__footer {
  display: flex;
  justify-content: space-between;
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer-author {
  text-align: right;
}
