:root {
  --main-color: white;
  --primary-color: #1b1a1b;
  --violet-color: #cd06ff;
  --violet-bg-a: #6c0287;
  --violet-bg-b: #640aa3;
  --violet-bg-c: #840aa3;
  --violet-bg-d: #eadeed;
  --violet-bg-e: #440f51;
}
